option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:747978174918:certificate/ecd8c563-dc9a-4dca-81e6-ea15e56ac7bd
  aws:elasticbeanstalk:environment:process:https:
    Port: '80'
    Protocol: HTTP
